UseTab: false
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
# AlignConsecutiveAssignments: true
SpaceAfterCStyleCast: true
PointerAlignment: Left
AllowShortLambdasOnASingleLine: true
AlignAfterOpenBracket: DontAlign
